.fondo{
	background-image: url(../img/stripes.jpg);
	height: 1200px;
	background-size: 100% 100%;
}

img{
	padding: 2%;
	display: block;
	margin: auto;
}

.box{
	background-color: white;
	background: white;
	background-repeat: no-repeat;
	border: 2px solid gray;
	padding: 2%;
	margin-bottom: 2%;
	width: 100%;
}


p{
	margin: 2% 0;
	color: white;
	margin-top: 3%;
}



.txt-azul{
	color: #00BFFF;
	font-size: 80%;
}

h1{
	margin: 2% 0;
	text-align: center;
	color: white;
	font-size: 250%;
}

h2{
	margin: 2% 0;
	font-size: 120%;
	color: white;
	text-align: center;
	}

h3{
	margin: 2% 0;
	text-align: center;
	font-size: 50%;
	color: white;
	}

.small-image{
	height: 80px;
	width: 80px;
}


.titulo{
	color: white;
	font-size: 70%;
	margin-top: 3%;
	margin-bottom: 2%;

}

.img-redonda{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: block;
	margin: auto;
}

.resize{
    padding: 0px;
    display: block;
	margin: auto;
	margin-top:0px;
}

.texto--centrado{
	margin-top: 2%;
	text-align: center;
}


.margen{
	margin-top: 0%;
	margin-bottom: 2%;
}

footer{
    background-color:black;  
    color:  white; 
    padding: 20px;
    text-align: center; 
}

.svg-inline--fa.fa-w-14 {

    color: white;
	margin: auto;

 }

 .svg-inline--fa{
 	color: white;
	margin: auto;
}